# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.venv3/
mywork/
.mywork/

# IDE or editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
node_modules/
.env